<div class ="container">
  <h2>Follower Users</h2>
  <div class ="row">
    <div class="col-md-12">
      <% if @users.exists? %>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(50,50) %></td>
              <td><%= user.name %></td>
              <td>フォロー数: <%= user.followings.count %></td>
              <td>フォロワー数: <%= user.followers.count %></td>
              <td>
                <%= link_to user_path(user.id) do %>
                  Show
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>