<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div class="form-enctype">
        <h2>User info</h2>
        <%= form_with model: @user do |f| %>
        
          <div class="form-group">
            <label for="inputName">Name</label>
            <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"" ,class:"form-control" %>
          </div>
          
          <div class="form-group">
            <label for="inputImage">Image</label><br>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
          </div>
          
          <div class="form-group">
            <label for="textarea">Introduction</label>
            <%= f.text_field :introduction, autofocus: true, id:"textarea", placeholder:"" ,class:"form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.submit "Update User",class:"btn btn-secondary" %>
          </div>
          
        <% end %>
      </div>
    </div>
  </div>
</div>







