
<div class ="container">
  <div class ="row">
    <div class="col-md-3">
      <%= render 'users/list', user: @user %>
      <%= render 'list', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @book.user.get_profile_image(100,100) %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" , class:"btn btn-sm btn-danger" %></td>
            <% end %>
            <td id = "favorites<%= @book.id %>" >
              <%= render 'favorites/iine', book: @book %>
            </td>
            <td>
              コメント件数 : <%= @book.book_comments.count %>
            </td>
          </tr>
        </tbody>
      </table>

      <div id = "book_comments">
       <%= render 'book_comments/comments', book: @book, book_comment: @book_comment %>
      </div>

    </div>
  </div>
</div>





